<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <app-title-component></app-title-component>
<app-paragraph-component></app-paragraph-component>
<app-image-component></app-image-component>
<app-binding-componenets></app-binding-componenets>
<div>
  <app-products-card></app-products-card>
</div>
<div>
  <app-students-list></app-students-list>
</div>

<div>
  <app-form-component></app-form-component>
</div> -->

<!-- <div>
  <app-form-reactive></app-form-reactive>
</div> -->
<app-traffic-lignt></app-traffic-lignt>
<app-price></app-price>


<app-product-list />
<app-feed-back/>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
